/*MAIN ARTICLE*/
.main_article {
    margin-bottom: var(--section-bottom);
    padding: 40px 0;
    position: relative;
}

.main_article::before {
    content: "";
    width: 100%;
    max-width: 1280px;
    height: 100%;
    background-color: #ebf7ff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.main_article::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/article-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
}


