@mixin main-article-480 {
    /*MAIN ARTICLE*/
}

@mixin main-article-640 {
    /*MAIN ARTICLE*/
}

@mixin main-article-768 {
    /*MAIN ARTICLE*/
}

@mixin main-article-980 {
    /*MAIN ARTICLE*/
}

@mixin main-article-1280 {
    /*MAIN ARTICLE*/
    .main_article {
        padding: 80px 0;
    }

    .main_article::before {
        border-radius: var(--elem-border-radius);
    }

    .main_article::after {
        width: 200px;
        height: 200px;
        right: 50%;
        transform: translateX(640px);
        border-radius: 0 var(--elem-border-radius) 0 0;
    }
}
