/* variables */
:root {
	--primary: #0375bf;
	--secondary: #addcfb;
	--success: #65E930FF;
	--info: #30e9e7;
	--warning: #e9d130;
	--danger: #e94630;

	--site-bg-color: #FFFFFF;
	--footer-color: #f7f7f7;

	--btn-bg: #0375bf;
	--btn-border: #0375bf;
	--btn-text: #b5e2ff;
	--btn-bg-hover: #b5e2ff;
	--btn-border-hover: #0375bf;
	--btn-text-hover: #0375bf;


	--text-color: #212121;
	--text-light: #5F5F5F;
	--text-contrast: #ffffff;

	--border-color: #addcfb;
	--icon-color: #0375bf;
	--active-icon-color: #addcfb;

	--link-color: #0375bf;

	--section-bottom: 38px;
	--elem-border-radius: 5px;
}
