/*REGISTER FORM*/

.register_form {
    margin-bottom: var(--section-bottom);
    position: relative;
}


.register_form::before {
    content: "";
    width: 100%;
    max-width: 1280px;
    height: 100%;
    background-color: #ebf7ff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.register_text {
    display: flex;
    flex-direction: column;
    padding: 22px 0 36px 0;
}

.register_info {
    margin-bottom: 18px;
}

.register_preference {
    padding-left: 18px;
    margin-bottom: 12px;
}

.register_preference li + li {
    margin-top: 3px;
}

.register_box {
    display: flex;
    flex-direction: column;
    margin: 0 -10px;
    padding: 24px 10px;
    background-color: var(--primary);
    color: var(--text-contrast);
}

.toggle_variants {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.toggle_variants span {
    margin: 0 8px;
}

.toggle_variants a {
    color: var(--text-contrast);
    font-size: 18px;
    opacity: 0.7;
    text-decoration: none;
    transition: 0.3s;
}

.toggle_variants a.active {
    text-decoration: underline;
    opacity: 1;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.login_form-title {
    text-align: center;
    margin-bottom: 22px;
}

.login_form input {
    width: 100%;
    margin-bottom: 18px;
}

.login_form .btn {
    margin-bottom: 42px;
    width: 100%;
}

.register_bottom-help a {
    color: var(--text-contrast);
}

.register_bottom-help a:hover {
    text-decoration: underline;
}

.register_error {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.register_error > * {
    margin-bottom: 18px;
}

.register_error a {
    color: var(--text-contrast);
}
