@mixin register-form-480 {
    /*REGISTER FORM*/
}

@mixin register-form-640 {
    /*REGISTER FORM*/
}

@mixin register-form-768 {
    /*REGISTER FORM*/
    .register_form .centre {
        display: flex;
    }

    .register_text {
        flex: 0 1 55%;
        justify-content: center;
        padding: 46px 20px 46px 0;
    }

    .register_box {
        flex: 0 1 45%;
        margin: -22px 0;
        padding: 50px 40px;
        border-radius: var(--elem-border-radius);
    }

    .login_form {
        padding: 0 30px;
    }
}

@mixin register-form-980 {
    /*REGISTER FORM*/
    .register_form::after {
        content: "";
        display: block;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../images/register-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0 0;
        z-index: -1;
    }

    .register_info {
        font-size: 16px;
        margin-bottom: 28px;
    }

    .register_preference {
        font-size: 16px;
        margin-bottom: 22px;
    }

    .toggle_variants {
        margin-bottom: 62px;
    }

    .login_form-title {
        font-size: 16px;
    }

    .login_form input {
        height: 56px;
        font-size: 22px;
    }

    .login_form .btn {
        min-height: 56px;
        font-size: 18px;
        margin-bottom: 62px;
    }

    .register_bottom-help {
        font-size: 16px;
        line-height: 1.2;
    }
}

@mixin register-form-1280 {
    /*REGISTER FORM*/
    .register_form::before {
        border-radius: var(--elem-border-radius);
    }
    .register_form::after {
        width: 300px;
        height: 300px;
        left: 50%;
        transform: translateX(-640px);
        border-radius: var(--elem-border-radius) 0 0 0;
    }
}
