@media only screen and (min-width: 480px) {
  /*HEADER*/
  /*FOOTER*/
  /*NEWS*/
  /*REGISTER FORM*/
  /*MAIN ARTICLE*/
  /*INFO ONE*/
  /*INFO TWO*/
}
@media only screen and (min-width: 640px) {
  /*HEADER*/
  /*FOOTER*/
  .footer_content {
    flex-direction: row;
  }

  .footer_info {
    flex: 0 1 50%;
    margin-bottom: 0;
  }

  .footer_menu {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 50%;
  }

  .footer_menu-item {
    width: 50%;
    padding: 0 0 20px 20px;
  }

  .footer_menu-item + .footer_menu-item {
    margin-top: 0;
  }

  /*NEWS*/
  /*REGISTER FORM*/
  /*MAIN ARTICLE*/
  /*INFO ONE*/
  /*INFO TWO*/
  .info_two .centre {
    display: flex;
    flex-wrap: wrap;
  }

  .info_two .col-1 {
    flex: 0 1 50%;
    padding-right: 8px;
  }

  .info_two .col-2 {
    flex: 0 1 50%;
    padding-left: 8px;
  }

  .info_two .col-3 {
    flex: 0 1 100%;
  }
}
@media only screen and (min-width: 768px) {
  /*HEADER*/
  .site_header-top {
    padding: 24px 0;
  }

  .logo_header-img {
    margin-right: 22px;
    width: 60px;
    height: 60px;
  }

  .logo_header-name {
    font-size: 30px;
    margin-bottom: 6px;
  }

  .logo_header-location {
    font-size: 16px;
  }

  .user_box {
    display: block;
    margin-left: auto;
    position: relative;
  }

  .user_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .user_btn .btn + .btn {
    margin-top: 6px;
  }

  .user_btn .btn.register_btn {
    background-color: var(--site-bg-color);
    border-color: var(--site-bg-color);
    color: var(--primary);
  }

  .user_btn .btn.register_btn:hover {
    color: var(--btn-text);
    background-color: var(--btn-bg);
    border-color: var(--btn-border);
  }

  .user_menu-desc {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 235px;
    background-color: var(--primary);
    border-radius: var(--elem-border-radius);
  }

  .user_menu-desc a {
    width: 100%;
    justify-content: flex-start;
  }

  .header_menu {
    display: none;
  }

  .site_header-bottom {
    display: block;
    position: relative;
  }

  .site_header-bottom::before {
    content: "";
    width: 100vw;
    max-width: 1280px;
    height: 100%;
    z-index: -1;
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .site_header-bottom ul {
    display: flex;
    flex-wrap: wrap;
  }

  .site_header-bottom a {
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 20px;
    color: var(--text-contrast);
    transition: 0.3s;
  }

  .site_header-bottom a:hover {
    color: var(--btn-text-hover);
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
  }

  .site_header-bottom a.active {
    background: linear-gradient(0deg, #0476c0 29%, #2596d3 74%);
  }

  .site_header-bottom a.active:hover {
    color: var(--text-contrast);
  }

  /*FOOTER*/
  /*NEWS*/
  .news_list {
    justify-content: space-between;
  }

  .news_list li {
    flex: 0 1 calc(50% - 10px);
  }

  .news_text {
    font-size: 16px;
    line-height: 1.5;
  }

  /*REGISTER FORM*/
  .register_form .centre {
    display: flex;
  }

  .register_text {
    flex: 0 1 55%;
    justify-content: center;
    padding: 46px 20px 46px 0;
  }

  .register_box {
    flex: 0 1 45%;
    margin: -22px 0;
    padding: 50px 40px;
    border-radius: var(--elem-border-radius);
  }

  .login_form {
    padding: 0 30px;
  }

  /*MAIN ARTICLE*/
  /*INFO ONE*/
  .info_one-list {
    flex-direction: row;
  }

  .info_one-list > span {
    margin: 0 12px 0 0;
    padding: 2px 0;
  }

  /*INFO TWO*/
  .info_two .col-1 {
    flex: 1 1 auto;
    padding-right: 8px;
  }

  .select_number,
.select_box {
    display: flex;
  }

  .select_number b,
.select_box b {
    padding: 2px 0;
  }

  .info_user > li {
    display: flex;
    grid-gap: unset;
  }

  .info_user > li + li {
    border-top: none;
    padding-top: 0;
  }

  .info_user > li > b {
    margin-right: 6px;
  }

  .info_two .col-2 {
    flex: 0 1 250px;
    padding-left: 8px;
  }
}
@media only screen and (min-width: 980px) {
  /*HEADER*/
  .user_btn {
    flex-direction: row;
  }

  .user_btn::before {
    content: "";
    width: 190px;
    height: 107px;
    background-image: url("../images/header-btn-bg.jpg");
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: -1;
  }

  .user_btn .btn + .btn {
    margin: 0 0 0 16px;
  }

  /*FOOTER*/
  .footer_content {
    padding: 90px 0 96px 0;
  }

  .footer_info .logo_text {
    font-size: 30px;
    margin-bottom: 12px;
  }

  .footer_phone-title {
    font-size: 18px;
  }

  .footer_phone-list li:nth-child(1) a {
    font-size: 24px;
  }

  .footer_menu-title {
    font-size: 18px;
  }

  .footer_menu-item {
    padding: 0 0 25px 60px;
  }

  .footer_copy {
    font-size: 16px;
    padding: 30px 0;
  }

  /*NEWS*/
  .news::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/news-bg-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
  }

  .news.danger_news::after {
    background-image: url(../images/news-bg.png);
  }

  .news_list li {
    flex: 0 1 calc(50% - 45px);
    margin-bottom: 40px;
  }

  /*REGISTER FORM*/
  .register_form::after {
    content: "";
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/register-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
  }

  .register_info {
    font-size: 16px;
    margin-bottom: 28px;
  }

  .register_preference {
    font-size: 16px;
    margin-bottom: 22px;
  }

  .toggle_variants {
    margin-bottom: 62px;
  }

  .login_form-title {
    font-size: 16px;
  }

  .login_form input {
    height: 56px;
    font-size: 22px;
  }

  .login_form .btn {
    min-height: 56px;
    font-size: 18px;
    margin-bottom: 62px;
  }

  .register_bottom-help {
    font-size: 16px;
    line-height: 1.2;
  }

  /*MAIN ARTICLE*/
  /*INFO ONE*/
  .info_one-header {
    flex-direction: row;
    margin-bottom: 32px;
  }

  .info_one-header .main_title img {
    width: 40px;
    height: 40px;
  }

  .info_one-header .main_title {
    margin: 0 26px 0 0;
  }

  .info_one-header .btn {
    margin-left: auto;
    padding-left: 28px;
    padding-right: 28px;
  }

  .info_one-text {
    line-height: 1.5;
    margin-bottom: 26px;
  }

  /*INFO TWO*/
  .info_two .main_title img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1280px) {
  /*HEADER*/
  .site_header-bottom::before {
    border-radius: var(--elem-border-radius);
  }

  /*FOOTER*/
  .footer_content::before {
    border-radius: var(--elem-border-radius);
  }

  .footer_content::after {
    content: "";
    display: block;
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 640px);
    background-image: url(../images/footer-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
  }

  /*NEWS*/
  .news {
    padding: 95px 0 60px 0;
  }

  .news::before {
    border-radius: var(--elem-border-radius);
  }

  .news::after {
    width: 300px;
    height: 300px;
    right: 50%;
    transform: translateX(640px);
    border-radius: 0 var(--elem-border-radius) 0 0;
  }

  /*REGISTER FORM*/
  .register_form::before {
    border-radius: var(--elem-border-radius);
  }

  .register_form::after {
    width: 300px;
    height: 300px;
    left: 50%;
    transform: translateX(-640px);
    border-radius: var(--elem-border-radius) 0 0 0;
  }

  /*MAIN ARTICLE*/
  .main_article {
    padding: 80px 0;
  }

  .main_article::before {
    border-radius: var(--elem-border-radius);
  }

  .main_article::after {
    width: 200px;
    height: 200px;
    right: 50%;
    transform: translateX(640px);
    border-radius: 0 var(--elem-border-radius) 0 0;
  }

  /*INFO ONE*/
  .info_one::before {
    border-radius: var(--elem-border-radius);
  }

  /*INFO TWO*/
  .info_two::before {
    border-radius: var(--elem-border-radius);
  }
}