@charset "UTF-8";
/*FONTS*/
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* variables */
:root {
  --primary: #0375bf;
  --secondary: #addcfb;
  --success: #65E930FF;
  --info: #30e9e7;
  --warning: #e9d130;
  --danger: #b60000;
  --site-bg-color: #FFFFFF;
  --footer-color: #f7f7f7;
  --btn-bg: #0375bf;
  --btn-border: #0375bf;
  --btn-text: #b5e2ff;
  --btn-bg-hover: #b5e2ff;
  --btn-border-hover: #0375bf;
  --btn-text-hover: #0375bf;
  --text-color: #212121;
  --text-light: #5F5F5F;
  --text-contrast: #ffffff;
  --border-color: #addcfb;
  --icon-color: #0375bf;
  --active-icon-color: #addcfb;
  --link-color: #0375bf;
  --site-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
  --section-bottom: 46px;
  --elem-border-radius: 5px;
}

/*RESETS*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track::before, .slick-track::after {
  content: "";
  display: table;
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*DROPDOWN*/
.dropdown {
  position: relative;
  height: 42px;
  border: 1px solid #d7d7d7;
  border-radius: var(--elem-border-radius);
  transition: width 0.3s;
}

.dropdown_short {
  width: 68px;
  height: 30px;
  margin: 0 20px;
  color: #1d1d1d;
}

.dropdown_short:hover .drop_arrow {
  background-color: #5ead5a;
}

.dropdown.dropdown-open {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown.dropdown_short.dropdown-open {
  width: 68px;
}

.dropdown .overflow {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 0;
  background-color: #fff;
  position: relative;
  float: left;
  border-radius: var(--elem-border-radius);
}

.dropdown.short .overflow {
  width: 138px;
}

.dropdown.dropdown-open .overflow {
  z-index: 10;
}

.dropdown Span {
  color: #666;
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  z-index: 2;
}

.dropdown_short Span {
  padding: 0 10px;
}

.dropdown UL {
  position: absolute;
  top: 40px;
  right: -1px;
  left: -1px;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 4;
  margin: 0;
  border-top: none;
  overflow-y: auto;
  display: none;
}

.dropdown_short ul {
  border: 1px solid #d7d7d7;
  border-radius: var(--elem-border-radius);
  top: 28px;
  overflow: auto;
}

.dropdown UL LI {
  position: relative;
  float: left;
  background: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
  border-top: 1px solid #d7d7d7;
}

.dropdown_short UL LI {
  border: none;
}

.dropdown UL LI A {
  width: 100%;
  text-decoration: none;
  color: #666;
  position: relative;
  float: left;
  padding: 11px 20px;
  transition: 0.3s;
}

.dropdown_short ul li a {
  color: #1d1d1d;
  text-align: center;
  padding: 6px 0;
}

.dropdown UL LI A:hover {
  background-color: var(--primary);
  color: #fff;
}

.dropdown_short ul li a:hover {
  background-color: #e6e6e6;
  color: initial;
}

.dropdown UL LI A.selected {
  display: none;
}

.drop_arrow {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
  cursor: pointer;
  border-radius: var(--elem-border-radius);
}

.drop_arrow:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -5.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: #ccc transparent transparent transparent;
  transition: 0.3s;
}

.dropdown-open .drop_arrow:after {
  border-top-color: #747474;
  transform: rotateX(180deg);
}

.dropdown_short .drop_arrow {
  right: -1px;
  top: -1px;
  background-color: #70c46a;
  border-radius: 0 var(--elem-border-radius) var(--elem-border-radius) 0;
  width: 31px;
  height: 30px;
}

.dropdown_short .drop_arrow:after {
  border-width: 6px 3.5px 0 3.5px;
  border-color: #fff transparent transparent transparent;
  margin-left: -3.5px;
}

.dropdown_alt {
  width: 100%;
  height: 50px;
  color: #504f4f;
}

.dropdown_alt span {
  font-size: 16px;
}

.dropdown_alt .drop_arrow {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  right: -1px;
  top: -1px;
}

.dropdown_alt .drop_arrow:hover {
  background-color: var(--main-active-color);
}

.dropdown_alt .drop_arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  margin: -5.5px 0 0 -8px;
}

.dropdown_alt ul {
  border: none;
  top: calc(100% + 1px);
}

.dropdown_alt UL LI {
  font-size: 16px;
  border: none;
}

.dropdown_alt UL LI A {
  background-color: #f7f7f7;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  color: #504f4f;
  padding: 14px 20px;
}

.dropdown_alt UL LI + LI A {
  border-top: 1px solid #d7d7d7;
}

.dropdown_alt UL LI:last-child A {
  border-bottom: 1px solid #d7d7d7;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dropdown_alt UL LI A:hover {
  border-color: var(--primary);
}

.dropdown_alt UL LI:hover + LI A {
  border-top-color: var(--primary);
}

.dropdown_alt.dropdown-open {
  width: initial;
}

.dropdown_alt.dropdown-open .drop_arrow {
  border-bottom-right-radius: 0;
}

.dropdown_sm {
  background-color: #fff;
  height: 45px;
}

.dropdown_sm .drop_arrow {
  width: 45px;
  height: 45px;
}

.dropdown_sm .drop_arrow:after {
  border-width: 8px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  margin: -4px 0 0 -6px;
}

.options_dropdown_list UL LI {
  position: relative;
  padding: 0 0 0 10px;
}

.options_dropdown_list UL LI:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 11px;
}

.options_dropdown_list UL LI A {
  text-decoration: none;
  color: #117f8a;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.options_dropdown_list UL LI A:hover {
  color: #000;
}

.options_dropdown_tile UL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.options_dropdown_tile UL LI {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 3px 3px 0;
}

.options_dropdown_tile UL LI A {
  text-decoration: none;
  background-color: #f3f3f3;
  color: #000;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.options_dropdown_tile UL LI A:hover {
  background-color: #117f8a;
  color: #fff;
}

.options_dropdown_tile UL LI.disabled {
  opacity: 0.5;
}

.options_dropdown_tile UL LI.disabled a {
  cursor: default;
}

.options_dropdown_tile UL LI.disabled a:hover {
  background-color: #f3f3f3;
  color: #000;
}

/*BASE STYLES*/
BODY, HTML {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  min-width: 360px;
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--site-bg-color);
  overflow-x: hidden;
  overflow-y: auto;
}

body.body_overflow {
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  flex: 1 0 auto;
}

input {
  font-size: 14px;
  line-height: 17px;
  height: 44px;
  border-radius: var(--elem-border-radius);
  padding: 0 15px 0 12px;
  border: 1px solid #D6D6D6;
  transition: 0.3s;
}

input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, textarea.error {
  border-color: #EE3C30;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=number]:focus, textarea:focus {
  border-color: var(--primary);
  outline: 0;
  outline-offset: 0;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input:focus {
  outline: none !important;
  border-color: #1F1F1F;
}

textarea {
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #D6D6D6;
  resize: none;
  outline: none;
  padding: 8px;
  border-radius: var(--elem-border-radius);
  transition: 0.3s;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

article a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  transition: 0.3s;
}

article a:hover {
  color: var(--link-color-active);
}

article li {
  position: relative;
  padding-left: 10px;
}

article li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}

a:active {
  color: inherit;
  /* НЕ УДАЛЯТИ */
}

h1,
.main_title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 32px;
}

h2,
.sub_title {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 28px;
}

h3,
.item_title {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 22px;
}

h4, h5,
.box_title {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 18px;
}

article blockquote {
  padding-left: 25px;
  position: relative;
  font-size: 22px;
}

article blockquote::before {
  content: "”";
  font-size: 36px;
  position: absolute;
  top: 0;
  left: 7px;
}

.centre {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 980px;
}

.icon {
  width: 22px;
  height: 22px;
  fill: var(--icon-color);
}

.danger {
  color: var(--danger);
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  color: var(--btn-text);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 44px;
  width: max-content;
  padding: 5px 18px;
  border-radius: var(--elem-border-radius);
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  cursor: pointer;
  transition: 0.3s;
}

.btn.btn_not-active,
button.btn:disabled {
  filter: grayscale(1);
  opacity: 0.7;
  cursor: unset;
}

.btn.btn_not-active:hover,
button.btn:disabled:hover {
  color: var(--btn-text);
  background-color: var(--btn-bg);
  border-color: var(--btn-border);
}

.btn:hover {
  color: var(--btn-text-hover);
  background-color: var(--btn-bg-hover);
  border-color: var(--btn-border-hover);
}

.btn.active {
  color: var(--btn-text);
  border-color: #0364a3;
  background: linear-gradient(0deg, #0476c0 29%, #2596d3 74%);
}

.btn.active:hover {
  filter: contrast(1.2);
}

.btn.btn_tmp-2 {
  color: var(--text-contrast);
  background: var(--success);
  border-color: var(--success);
}

.btn.btn_tmp-2:hover {
  color: var(--success);
  background: var(--text-contrast);
  border-color: var(--success);
}

.btn.btn_tmp-2.active {
  color: var(--text-contrast);
  background: var(--success);
  border-color: var(--success);
  background: linear-gradient(0deg, #62d136 36%, #65e930 66%);
}

.btn .icon {
  margin-right: 6px;
  fill: var(--btn-text);
  transition: 0.3s;
}

.btn:hover .icon {
  fill: var(--btn-text-hover);
}

.close_btn {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.close_btn::before,
.close_btn::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--icon-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background-color 0.3s;
}

.close_btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close_btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn:hover::before,
.close_btn:hover::after {
  background-color: var(--danger);
}

.shadow {
  font-size: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(32, 30, 80, 0.4);
  z-index: 10;
}

.hidden {
  display: none !important;
}

/*HEADER*/
.site_header {
  margin-bottom: var(--section-bottom);
}

.site_header .centre {
  display: flex;
  flex-direction: column;
}

.site_header-top {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.logo_header {
  display: flex;
  align-items: center;
}

.logo_header-img {
  display: block;
  margin-right: 12px;
  width: 40px;
  height: 40px;
}

.logo_header-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo_header-text {
  display: flex;
  flex-direction: column;
}

.logo_header-name {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
}

.logo_header-name span {
  color: var(--primary);
}

.logo_header-location {
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--text-color);
}

.logo_header-location:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.user_box {
  display: none;
}

.header_menu {
  margin-left: auto;
}

.header_menu-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  height: 100%;
  width: 100%;
  background-color: var(--site-bg-color);
  overflow-y: auto;
  z-index: 13;
}

.header_menu-box.active {
  display: block;
}

.header_menu-btn {
  font-size: 0;
  display: block;
  padding: 4px;
}

.header_menu-close {
  position: absolute;
  top: 0;
  right: 0;
}

.header_menu-box .logo_header {
  margin-bottom: 12px;
}

.cabinet_wrap-login {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.cabinet_wrap-login a {
  font-weight: 700;
  padding: 4px;
  display: block;
}

.cabinet_wrap-login span {
  margin: 0 4px;
}

.cabinet_wrap-user {
  color: var(--text-color);
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  opacity: 0.7;
}

.cabinet_wrap-list {
  margin-bottom: 8px;
  padding: 0 0 8px 0;
  border-bottom: 1px solid var(--border-color);
}

.cabinet_wrap-list li a,
.header_menu-list a {
  font-size: 16px;
  font-weight: 700;
  display: block;
  padding: 4px;
  text-decoration: none;
}

.cabinet_wrap-list li a.active,
.header_menu-list a.active {
  color: var(--text-color);
  opacity: 0.7;
}

.site_header-bottom {
  display: none;
}

/*FOOTER*/
.site_footer {
  position: relative;
}

.site_footer .centre {
  display: flex;
  flex-direction: column;
}

.footer_content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 46px 0;
}

.footer_content::before {
  content: "";
  width: 100vw;
  max-width: 1280px;
  height: 100%;
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  box-shadow: var(--site-shadow);
}

.footer_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.footer_info .logo_text {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
}

.footer_info .logo_text span {
  color: var(--primary);
}

.footer_phone-title {
  font-size: 16px;
}

.footer_phone-list a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--text-light);
  transition: 0.3s;
}

.footer_phone-list li:nth-child(1) a {
  font-size: 22px;
  color: var(--text-color);
}

.footer_phone-list li:nth-child(1) a:hover,
.footer_phone-list a:hover {
  color: var(--link-color);
}

.footer_menu-item {
  display: flex;
  flex-direction: column;
}

.footer_menu-item + .footer_menu-item {
  margin-top: 12px;
}

.footer_menu-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
}

.footer_menu-item ul li + li {
  margin-top: 3px;
}

.footer_menu-item ul a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s;
}

.footer_menu-item ul a:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.footer_copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.footer_copy a {
  text-align: end;
}

/*NEWS*/
.news {
  margin-bottom: var(--section-bottom);
  position: relative;
  padding: 40px 0 50px 0;
}

.news::before {
  content: "";
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background-color: #ebf7ff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.news .main_title {
  text-transform: uppercase;
  display: block;
}

.news_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.news_list li {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  margin-bottom: 34px;
}

.news_time {
  font-size: 16px;
  margin-bottom: 22px;
}

.news_time span {
  opacity: 0.7;
}

.news_text {
  margin-bottom: 6px;
}

/*REGISTER FORM*/
.register_form {
  margin-bottom: var(--section-bottom);
  position: relative;
}

.register_form::before {
  content: "";
  width: 100%;
  max-width: 1280px;
  height: 100%;
  background-color: #ebf7ff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.register_text {
  display: flex;
  flex-direction: column;
  padding: 22px 0 36px 0;
}

.register_info {
  margin-bottom: 18px;
}

.register_preference {
  padding-left: 18px;
  margin-bottom: 12px;
}

.register_preference li + li {
  margin-top: 3px;
}

.register_box {
  display: flex;
  flex-direction: column;
  margin: 0 -10px;
  padding: 24px 10px;
  background-color: var(--primary);
  color: var(--text-contrast);
}

.toggle_variants {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.toggle_variants span {
  margin: 0 8px;
}

.toggle_variants a {
  color: var(--text-contrast);
  font-size: 18px;
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s;
}

.toggle_variants a:hover {
  opacity: 1;
}

.toggle_variants a.active {
  text-decoration: underline;
  cursor: unset;
  opacity: 1;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.login_form-title {
  text-align: center;
  margin-bottom: 22px;
}

.login_form input {
  width: 100%;
  margin-bottom: 18px;
}

.login_form .btn {
  margin-bottom: 42px;
  width: 100%;
}

.register_bottom-help a {
  color: var(--text-contrast);
}

.register_bottom-help a:hover {
  text-decoration: underline;
}

.register_error {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.register_error > * {
  margin-bottom: 18px;
}

.register_error a {
  color: var(--text-contrast);
}

.register_sms {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.register_sms-title {
  font-size: 16px;
  margin-bottom: 20px;
}

.register_sms-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.register_sms-box input {
  min-width: 1px;
}

.register_sms-box .btn {
  width: 100%;
}

.resend_sms {
  font-size: 16px;
  margin-bottom: 12px;
}

.resend_sms a {
  color: var(--text-contrast);
  margin-right: 8px;
}

.resend_sms a.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.change_pass {
  font-size: 16px;
  color: var(--text-contrast);
}